{% extends "base.html" %}
{% block title %}Голосования{% endblock %}
{% block content %}
     <div class="row justify-content-center">
         <div class="col-md-8 p-5">
             <div class="card">
                 <div class="card-header">Создайте голосование</div>
                 <div class="card-body">
                     <form method="post" class="form-signin" action="/createvote2/">
                          {%csrf_token%}
                         <div class="form-group row">
                             <label for="text321" class="col-md-4 col-form-label text-md-right">Тема опроса</label>
                             <div class="col-md-6">
                             <input type="text" class="form-control" id="text321" name="name">
                             </div>
                         </div>
                         <div class="form-group row">
                             <label for="text123" class="col-md-4 col-form-label text-md-right">Описание опроса</label>
                             <div class="col-md-6">
                             <input type="text" class="form-control" id="text123" name="description">
                             </div>
                         </div>
                         <div class="form-group row">
                             <label for="select123" class="col-md-4 col-form-label text-md-right">Тип опроса</label>
                             <div class="col-md-6">
                             <select id="select123" class="form-control" name="type">
                                 <option>Выбор одного варианта</option>
                                 <option>Выбор нескольких вариантов</option>
                             </select>
                             </div>
                         </div>
                          <div class="col-md-6 offset-md-4">
                            <button type="submit" class="btn btn-primary">
                                 Продолжить
                            </button>
                    </div>
                     </form>
                 </div>
             </div>
         </div>
     </div>

{% endblock %}